<html>

<!-- Bootstrap core CSS -->

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<header>
	<div align="center" style="width: 75%">
		<h1 style="color: red;">
			<marquee>
				<strong> Cryptographic application server </strong>
			</marquee>
		</h1>

	</div>
</header>

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="img/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/icon-font.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/animate.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/hamburgers.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/select2.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />

<!--===============================================================================================-->
<body style="background-image: url('img/background.jpg');">

	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<div id="mySidenav" class="sidenav">
		<a style="font-size: 30px; color: white;"><strong>Server
				Operations:</strong></a>
		<hr style="border-top: 1px solid red;" />
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="encrypt">Encryption</a> <a href="decrypt">Decryption</a> <a
			href="sign">Sign</a> <a href="certificates">Certificates</a> <a
			href="contact">Contact</a>
	</div>
	<span style="font-size: 30px; cursor: pointer" onclick="openNav()">&#9776;
		<h5 style="color: white;">
			<strong>Menu</strong>
		</h5>
	</span>
	<br />
	<br />
	<div align="center">
		<div align="center">
			<h3 style="color: red;">
				<strong>Contact</strong>
			</h3>
		</div>
		<hr style="border-top: 1px solid red;" />
		<br/>
		<!-- Add web content -->

		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title"> Get in Touch </span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input"
					data-validate="Name is required">
					<span class="label-input100">Tell us your name *</span> <input
						class="input100" type="text" name="name"
						placeholder="Enter your name" />
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input"
					data-validate="Valid email is required: ex@abc.xyz">
					<span class="label-input100">Enter your email *</span> <input
						class="input100" type="text" name="email"
						placeholder="Enter your email" />
				</div>

				<div class="wrap-input100">
					<span class="label-input100">Your Website</span> <input
						class="input100" type="text" name="web" placeholder="http://" />
				</div>

				<div class="wrap-input100 validate-input"
					data-validate="Message is required">
					<span class="label-input100">Message</span>
					<textarea class="input100" name="message"
						placeholder="Your message here..."></textarea>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn"
							sytle="background-image: url('img/background.jpg');">
							Submit</button>
					</div>
				</div>
			</form>
		</div>

		<span class="contact100-more"> Contact at
			fonsi.gonzalezsan@gmail.com </span>

		<!--  ENd web content -->

	</div>
	<br />
	<br />
	<br />

</body>
<script>
	function openNav() {
		document.getElementById("mySidenav").style.width = "250px";
	}

	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
	}
</script>
</html>